<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-text class="ion-text-center">
        <h1>Roteiro {{nomeP}}</h1>
      </ion-text>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 class="ion-text-center">Ponto de interesse</h2>
      </ion-col>
    </ion-row>

    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input class="custom-input" label="Nome do Local" labelPlacement="stacked" formControlName="nome_local" placeholder="Insira o nome do local"
           ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="last">
          <ion-input class="custom-input" label="Endereço" labelPlacement="stacked" formControlName="endereco" placeholder="Insira o endereço do local"
            ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input class="custom-input" type="number" label="Custo" labelPlacement="stacked"  formControlName="custo" placeholder="Insira o custo para a visita ao local" value="0.00" step="0.01" (ionChange)="formataNumero($event)"
           ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="last">
          <ion-input class="custom-input" type="number" label="Custo de Transporte" labelPlacement="stacked" formControlName="custoT"placeholder="Insira o custo de transporte para o local" value="0.00" step="0.01" (ionChange)="formataNumero($event)"
            ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input class="custom-input" label="Curiosidade" labelPlacement="stacked" formControlName="curiosidade" placeholder="Escreva uma breve descrição do Local "
            ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="last">
          <ion-input class="custom-input" label="Sugestão" labelPlacement="stacked" formControlName="sujestao" placeholder="Escreva uma sugestão sobre o local"
            ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
            <ion-input class="custom-input" label="Fotografia" labelPlacement="stacked" [value]="selectedFileName"
              [readonly]="true" name="text"></ion-input>
          <ion-button slot="end" [color]="iconColor" fill="clear" class="botao-camera" (click)="fileInput.click()">
            <ion-icon slot="icon-only" [name]="iconName">
            </ion-icon>
          </ion-button>
          <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" style="display: none;">
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center ion-justify-content-center ion-align-items-center">
      <ion-col>
        <ion-button fill="solid" [disabled]="!addForm.valid" (click)="onSubmit()" type="submit" shape="round" size="large">Submeter</ion-button>
      </ion-col>
    </ion-row>
    
    </form> 

  </ion-grid>

</ion-content>
