<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

      <ion-grid>
        <ion-row>
          <ion-input  class="title" label="Roteiro" placeholder="{{nome}}" (ionChange)="nomeMudou($event)"></ion-input>
        </ion-row>
      </ion-grid>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>

          <ion-grid>
            <ion-row>
              <ion-input  class="title" label="Roteiro" placeholder="{{nome}}" (ionChange)="nomeMudou($event)"></ion-input>
            </ion-row>
          </ion-grid>

      </ion-toolbar>
    </ion-header>

    <ion-grid id="grid">

    <h2>Pontos de Interesse</h2>

    <ion-row *ngFor="let pontodeinteresse of pontosdeinteresse">
      <ion-col size="9">
          <ion-button expand="block" class="i-text shadow" >
            <ion-grid>
              <ion-row>
                  <p class="text nome-rot">{{ pontodeinteresse.nome_local}}</p>
              </ion-row>
            </ion-grid>
          </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" fill="solid" class="i-text shadow" >
          <ion-icon name="bus"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="i-text shadow" type="submit" expand="block" fill="solid" size="big" routerLink="/add-ponto-int">+</ion-button>
      </ion-col>
    </ion-row>

    <ion-list *ngIf="isLoadingPontos">
      <ion-item>
        <ion-label color="primary">A carregar Pontos de Interesse...</ion-label>
        <ion-spinner name="circles" color="primary"></ion-spinner>
      </ion-item>
    </ion-list>

    



<!--
      <ion-row>
        <ion-col size="2">
          <div class="main-hotspot">
            <ion-text class="i-text">
              <p class="text">1</p>
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="main-hotspot center-text" color="primary">
            <ion-text class="i-text">
              <p class="text">Notre Dame</p>
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="main-hotspot">
            <ion-icon name="bus" size="large"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2">
          <div class="main-hotspot">
            <ion-text class="i-text">
              <p class="text">2</p>
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="main-hotspot center-text" color="primary">
            <ion-text class="i-text">
              <p class="text">Torre Eiffel</p>
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="main-hotspot">
            <ion-icon name="bus" size="large"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2">
          <div class="main-hotspot">
            <ion-text class="i-text">
              <p class="text">3</p>
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="10">
          <div class="main-hotspot center-text" color="primary">
            <ion-text class="i-text">
              <p class="text">+</p>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
      -->


        <ion-row class="bottom">
          <ion-col size="12">
            <ion-button expand="block" fill="solid" shape="round" class="i-text" (click)="navigate()">
              Ver rota
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="bottom">
          <ion-col size="12">
            <ion-button expand="block" fill="solid" shape="round" class="i-text" (click)="partilharRoteiro()">
              Partilhar roteiro
            </ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
