ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  .title {
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px 5px rgb(160, 160, 160);

    justify-content: flex-start;
  }
  

  .text {
    color: black !important;
  }

  .i-text {
    margin: 0 auto !important;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(160, 160, 160);
    height: 70px;
  }

  
  .shadow {
    --box-shadow: 2px 2px 5px rgb(160, 160, 160);
  }

  .bottom{

    margin-top: 15px;

  }

  #grid{

    padding: 3%;
  }
