  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large" class=" ion-justify-content-center">Roteiro {{roteiro}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid>
      
    </ion-grid>


  <div id="container">
    <strong class="capitalize">{{ roteiro }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <p>AHAHAHA</p>
  </div>
</ion-content>
