<ion-header >

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>

<div class="divzao">
<ion-grid>

  <ion-row>
    <ion-col>
      <h2>Destino</h2>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-select label-placement="floating" label="Escolha o país do seu destino" [(ngModel)]="destinoP" (ionChange)="onPaisChange($event)">
          <ion-select-option *ngFor="let pais of paises" [value]="pais">{{ pais.nome }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="cidades.length > 0">
    <ion-col>
      <ion-item>
        <ion-select label-placement="floating" label="Escolha a cidade do seu destino" [(ngModel)]="destinoC" (ionChange)="onPaissChange($event)">
          <ion-select-option *ngFor="let cidade of cidades" [value]="cidade.nome">{{ cidade.nome }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center  ion-justify-content-center ion-align-items-center">
    <ion-col>
      <ion-button fill="solid" shape="round" size="large" [disabled]="!podes" (click)="addRoteiro()"> Continuar</ion-button>
    </ion-col>
  </ion-row>

</ion-grid>


</div>


</ion-content>
