ion-item {

    margin-top: 3%;
    --border-color:#1AE4D8;
    --border-width: 2px;
    --border-radius: 10px;
  
  }
  
  ion-button {
    margin-top: 25%;
    --border-radius: 35px;
    --background: #1AE4D8;

  }
  
  ion-grid{

    padding-top: 15%;

  }

  #rowEmail{

    padding-top: 20px;
    padding-bottom: 20px;

  }

  #rowPais{

    padding-top: 20px;

  }