<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Voltar" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class=" ion-justify-content-center">Registo</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="registoForm" (ngSubmit)="onSubmit()">

    <ion-grid>

      <ion-row>
        <ion-col>
          <div class="item">
            <ion-input label="Nome Próprio" formControlName="name" labelPlacement="stacked"
              placeholder="Insira o seu primeiro nome"></ion-input>

            <ion-text color="danger"
              *ngIf="registoForm.get('name')!.invalid && (registoForm.get('name')!.touched || registoForm.get('name')!.dirty)">
              <small *ngIf="registoForm.get('name')!.errors?.['required']">O nome é de preenchimento obrigatório</small>
              <small *ngIf="registoForm.get('name')!.errors?.['minlength']">O nome deve ter pelo menos 2
                caracteres</small>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="item" >
            <ion-input label="Apelido" formControlName="apelido" labelPlacement="stacked"
              placeholder="Insira o seu apelido" [clearOnEdit]="true"></ion-input>
              <ion-text color="danger"
              *ngIf="registoForm.get('apelido')!.invalid && (registoForm.get('apelido')!.touched || registoForm.get('apelido')!.dirty)">
              <small *ngIf="registoForm.get('apelido')!.errors?.['required']">O Apelido é de preenchimento obrigatório</small>
              <small *ngIf="registoForm.get('apelido')!.errors?.['minlength']">O Apelido deve ter pelo menos 2
                caracteres</small>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row id="rowEmail">
        <ion-col>
          <div class="item" >
            <ion-input label="Email" labelPlacement="stacked" formControlName="email" placeholder="Insira o seu email" [clearOnEdit]="true"
              type="email"></ion-input>
              <ion-text color="danger" *ngIf="registoForm.get('email')!.invalid && (registoForm.get('email')!.touched || registoForm.get('email')!.dirty)">
                <small>Introduza um endereço de e-mail válido</small>
              </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="item" >
            <ion-input label="Password" labelPlacement="stacked" formControlName="password" placeholder="Insira o sua password"
              [clearOnEdit]="true" type="password"></ion-input>
              <ion-text color="danger"
              *ngIf="registoForm.get('password')!.invalid && (registoForm.get('password')!.touched || registoForm.get('password')!.dirty)">
              <small *ngIf="registoForm.get('password')!.errors?.['required']">A password é de preenchimento obrigatório</small>
              <small *ngIf="registoForm.get('password')!.errors?.['minlength']">A password deve ter pelo menos 8
                caracteres</small>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="item" >
            <ion-input label="Confirmar Password" labelPlacement="stacked" formControlName="passwordC" placeholder="Repita a password"
              [clearOnEdit]="true" type="password"></ion-input>
              <ion-text color="danger"
              *ngIf="registoForm.get('passwordC')!.invalid && (registoForm.get('passwordC')!.touched || registoForm.get('passwordC')!.dirty)">
              <small *ngIf="registoForm.get('passwordC')!.errors?.['required']">A password é de preenchimento obrigatório</small>
              <small *ngIf="registoForm.get('passwordC')!.errors?.['minlength']">A password deve ter pelo menos 8
                caracteres</small>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row id="rowPais">
        <ion-col>
          <div class="item" >
            <ion-select label-placement="stacked" label="País" placeholder="Insira o seu País">
              <ion-select-option value="brasil">Brasil</ion-select-option>
              <ion-select-option value="portugal">Portugal</ion-select-option>
              <ion-select-option value="usa">Estados Unidos</ion-select-option>
              <ion-select-option value="franca">França</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center  ion-justify-content-center ion-align-items-center">
        <ion-col>
          <ion-button fill="solid" shape="round" size="large" [disabled]="!registoForm.valid" (click)="onSubmit()" type="submit"> Criar Conta</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>

</ion-content>