.shadow {
    --box-shadow: 2px 2px 5px rgb(160, 160, 160);
}


.i-text {
    height: 80px;
}

ion-searchbar{

--icon-color:#1AE4D8;
--placeholder-color:#144a47;

}

#grid{

    padding: 5%;
}

ion-row{

border-radius: 15px;
    margin-bottom: 5%;
    background-color: #1AE4D8;

}

.botao{

    --background:  #202020;
}
