<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Descobrir</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-text color="dark">
  <h2 id="title">Descobrir</h2>
</ion-text>

<ion-searchbar animated="true" debounce=250 placeholder="Encontre um Roteiro" show-clear-button="focus" (ionInput)="handleInput($event)"></ion-searchbar>

 <div id="container" class="divv">
    
<!--  <ion-row *ngFor="let roteiro of roteiros">
    <ion-col size="9">
        <ion-button expand="block" class="i-text shadow">
          <ion-grid>
            <ion-row>
                <p class="text nome-rot">{{ roteiro.nomeRoteiro}}</p>
            </ion-row>
            <ion-row>
            </ion-row>
            <ion-row>
                <p class="text">{{ roteiro.destinoC}}</p>
            </ion-row>
          </ion-grid>
        </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button expand="block" shape="default" fill="solid" class="i-text shadow" (click)="saveRoteiro($event)">
        <ion-icon [name]="iconName" [color]="iconColor" size="large"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row> 

      <ion-list *ngIf="!isLoadingRoteiros">
        <ion-item-sliding #slidingItem *ngFor="let roteiro of roteiros">
          <ion-item>
            <ion-label>{{ roteiro.nomeRoteiro }}</ion-label>
            <ion-note slot="end">{{roteiro.destinoC}}</ion-note>
          </ion-item>
          <ion-item-option color="success" (click)="addPartilhadoBiblioteca(roteiro.id_interno)">
            <ion-label class="ion-text-center">
              <ion-icon name="add-circle-outline"></ion-icon>
              <div>Adicionar</div>
            </ion-label>
          </ion-item-option>
          </ion-item-sliding>
      </ion-list>
      -->

    <ion-grid *ngIf="!isLoadingRoteiros" id="grid">
      <ion-row *ngFor="let roteiro of results" class="div">
        <ion-col size="9" >
                <ion-row>
                    <p class="text nome-rot">{{ roteiro.nomeRoteiro}}</p>
                </ion-row>
                <ion-row>
                    <p class="text">{{ roteiro.destinoC}}</p>
                </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="solid" class="i-text shadow botao" (click)="addPartilhadoBiblioteca(roteiro.id_interno, $event)">
            <ion-icon size="large" [color]="iconColor" [name]="iconName"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

      <ion-list *ngIf="isLoadingRoteiros">
        <ion-item>
          <ion-label color="primary">A carregar roteiros...</ion-label>
          <ion-spinner name="circles" color="primary"></ion-spinner>
        </ion-item>
      </ion-list>

    

  </div>
</ion-content>