<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-grid class="logo">
      <ion-row>
        <ion-col size="1">
        </ion-col>
        <ion-col size="4">
          <ion-img src="assets/imgs/Logo_Roteiros.png"></ion-img>
        </ion-col>
        <ion-col size="6" class="title">
          <h1>Roteiros</h1>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="metafora">
      <ion-text>
        <p>"A bússola que transforma destinos em histórias inesquecíveis."</p>
      </ion-text>
    </div>
    <div class="actions">
      <ion-button expand="block" fill="solid" shape="round" size="small" class="button1" (click)="login()">
        Login
      </ion-button>
      <ion-button expand="block" fill="solid" shape="round" size="small" class="button1" (click)="registo()">
        Registo
      </ion-button>
      <ion-button expand="block" fill="clear" shape="default" class="button2" routerLink="/folder/inbox">
        Continuar sem registo
        <ion-img src="assets/imgs/right-arrow.png" id="forward"></ion-img>
      </ion-button>
    </div>
  </div>
</ion-content>